dl.contact, dl.contact dt, dl.contact dd {
  margin:0;
	padding:0;
}
dl.contact {
	width: 500px;
	float: left;
	display: inline; /* IE Fix */
}

dl.contact dt {
	float: right;
	font-size: 130%;
	color: #41403C;
	font-weight: bold;
	width: 420px;
	line-height: normal !important;
	padding: 2px 0 3px 0;
}

dl.contact a {
  text-decoration: none !important;
	border-bottom: none !important;
}

dl.contact dd {
	color: #A3A093;
	line-height: 1.5em;
	margin: 0 0 0 80px;
}

dl.contact dd.avatar { margin: 0; }

dl.contact dd.avatar img {
  float: left;
	margin: 5px 8px 5px 0;
	padding: 4px;
	border: 1px solid #A3A093;
	background: #fff;
}

dl.contact dd.no-avatar {
  float: left;
  margin: 5px 8px 5px 0 !important;
  padding: 4px !important;
  border: 1px solid #A3A093;
  background: #fff;
	width: 60px;
	height: 60px;
}

.clearfix {
	clear: both;
}
